@font-face {
		font-family: "JFFlat-regular";
		src: url("../fonts/JF-Flat-regular/JF-Flat-regular.eot");
		src: url("../fonts/JF-Flat-regular/JF-Flat-regular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/JF-Flat-regular/JF-Flat-regular.woff") format("woff"),
		url("../fonts/JF-Flat-regular/JF-Flat-regular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}