<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
	link(rel="icon" type="image/png" href="img/favicon.png" )
	title Document

	link(rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css")
	link(rel="stylesheet" href="css/main.css")
body
	
	ul.accordion
		li.accordion__item.loaction
			h3.accordion__title.loaction__title Location
			p.accordion__content.accordion__content--active  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, similique! Totam delectus exercitationem saepe consectetur eos modi non laboriosam pariatur corporis sunt deleniti, quia provident esse. Laborum dolores facilis tenetur.
		li.accordion__item.music
			h3.accordion__title.music__title Music
			p.accordion__content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, similique! Totam delectus exercitationem saepe consectetur eos modi non laboriosam pariatur corporis sunt deleniti, quia provident esse. Laborum dolores facilis tenetur.
		li.accordion__item.notes
			h3.accordion__title.notes__title Notes
			p.accordion__content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, similique! Totam delectus exercitationem saepe consectetur eos modi non laboriosam pariatur corporis sunt deleniti, quia provident esse. Laborum dolores facilis tenetur.
		li.accordion__item.books
			h3.accordion__title.books__title Books
			p.accordion__content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, similique! Totam delectus exercitationem saepe consectetur eos modi non laboriosam pariatur corporis sunt deleniti, quia provident esse. Laborum dolores facilis tenetur.
		li.accordion__item.tendances
			h3.accordion__title.tendances__title Tendances
			p.accordion__content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, similique! Totam delectus exercitationem saepe consectetur eos modi non laboriosam pariatur corporis sunt deleniti, quia provident esse. Laborum dolores facilis tenetur.


	script(src="https://code.jquery.com/jquery-3.2.1.js")
	script(src="js/common.js")